<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Eat Da Burger!</title>
<style>
  #question {
    text-align: center;   
  }

  #wish  {
    text-align: right; 
    margin-right: 20px;
    float:right;
  }



  #okay {
    text-align: left; 
    float:right;
  }
</style>

  <script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
  {{{ body }}}
</body>
</html>
